<nav class="navbar navbar-default" role="navigation">
  <h1 class="text-center">
    Sähköpaimen etäohjaus
</h3>
</nav>

<div class="well">
  <button ng-class="{'btn-primary':state, 'btn-default':!state}" class="btn btn-block btn-primary">
    <p class="indicator-text" ng-show="state && !buttonsDisabled">PÄÄLLÄ</p>
    <p class="indicator-text" ng-show="!state && !buttonsDisabled">SAMMUKSISSA</p>
    <p class="indicator-text" ng-show="buttonsDisabled">ODOTA...</p>
    <span ng-show="state" class="glyphicon glyphicon-flash flash-icon"></span>
    <span ng-show="!state" class="glyphicon glyphicon-off flash-icon"></span>
  </button>

  <div class="well well-lg">
    <button ng-class="{'btn-danger': !state, 'disabled':buttonsDisabled}" class="btn btn-lg btn-block toggle-button" ng-click="setPower(false)">OFF</button>
    <button ng-class="{'btn-success': state, 'disabled':buttonsDisabled}" class="btn btn-lg btn-block toggle-button" ng-click="setPower(true)">ON</button>
  </div>
</div>

<div ng-if="connectionError">
  <h3>Yhdistämisvirhe!</h3>
  <p>Releen mikro-ohjaimen WIFI on varmaankin poikki. Kokeile käynnistää se uusiksi. kytkemällä USB-virtalähde uudelleen.</p>
  <p>Vihreä nopeasti vilkkuva valo: etsii verkkoa. Sinivihreä/syaani pulssi: yhteys ok.</p>
  <p>{{error}}</p>
</div>

<div ng-if="error">
  <p>Perkeles, nyt saattoi mennä joku pahasti vikaan. Virhekoodi:</p>
  <p>{{error}}</p>
</div>

<!-- <div class="container well"> -->
<!--   <h1 class="text-center">Voltage level (todo)</h1> -->
<!--   <div class="progress"> -->
<!--     <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> -->
<!--       Testing 60% -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
